<% if(username != ''){%>
    <h4 class="text-primary-custom m-2">User: <%= username %></h4>
<% } %>
<h1 class="display-4 w-100 text-center text-primary-custom my-2"><%= current.title %></h1>
<span class="text-center text-primary-custom"><%= motto %></span>